<% if url.present? %>
  <%= button_to url, **html_options do %>
    <%= left_icon if left_icon? %>
    <%= render Essence::SpinnerComponent.new(size: 22, class: 'button-spinner') if display_as_button? %>
    <span><%= name %></span>
    <%= right_icon if right_icon? %>
  <% end %>
<% else %>
  <%= button_tag **html_options do %>
    <%= left_icon if left_icon? %>
    <%= render Essence::SpinnerComponent.new(size: 22, class: 'button-spinner') if display_as_button? %>
    <span><%= name %></span>
    <%= right_icon if right_icon? %>
  <% end %>
<% end %>
