<% helpers.breadcrumbs.tap do |links| %>
  <% if links.any? %>
    <nav <%= tag.attributes **html_options %>>
      <%= render Essence::IconComponent.new(name: 'home', class: 'breadcrumb-icon') %>
      <% links.each do |link| %>
        <% if link.current? %>
          <span class="breadcrumb-current"><%= link.text %></span>
        <% else %>
          <%= link_to link.text, link.url, class: 'breadcrumb-item', **link.options %>
        <% end %>
        <% unless link.current? %>
          <%= render Essence::IconComponent.new(name: 'greater_than', class: 'breadcrumb-icon') %>
        <% end %>
      <% end %>
    </nav>
  <% end %>
<% end %>
