<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Site" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag 'beyond_essence/application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags 'beyond_essence/application' %>
  </head>

  <body>
    <%= render template: 'beyond_essence/body' %>
  </body>
</html>
