<div <%= tag.attributes **html_options %>>
  <%= inline_svg_tag image_path, class: 'empty-state-image' %>
  <div class="empty-state-text">
    <h3 class="empty-state-headline"><%= headline %></h3>
    <p class="empty-state-body"><%= body %></p>
    <% if link_text? && link_url? %>
      <%= render BeyondEssence::LinkComponent.new(name: link_text, url: link_url, display_as: :button) %>
    <% end %>
  </div>
</div>
